* {
    font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: #f35a69;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #6d71b5;
}

.snakeSquare {
    background-color: #e3e773;
    border: 1px solid #000;
}

.foodSquare {
    background-color: #55e7e7;
    border: 1px solid #000;
}